/* ==== FONTS ==== */ 

@font-face {
    font-family: SignPainter;
    src: url(../fonts/SignPainter.otf);
}

/* ==== FLEXBOX ==== */ 
 
        .page-wrap { 
              display: -ms-flexbox;       
              display: -webkit-flex;     
              display: flex; 
              flex-wrap:wrap-reverse;
              max-width:1360px;
              margin: 0px auto;            
         }
   
        .main-content {
              min-width: 910px;
        } 

        .main-sidebar {
                min-width: 160px; 
                flex: 1;                  
        } 

        /* Column Reordering */ 

        .main-nav{
            -webkit-order: 4;
            order: 4; 
        } 

        .main-content{
            -webkit-order: 5;
            order: 5;
        } 

        .main-sidebar{
            -webkit-order: 6;
            order: 6;                  
        } 

        .header {  
            -webkit-order: 6;
            order: 6; 
        }


     
    /* ==== BIG LINKS ==== */
        @import "compass/css3";

        .flex-container {
          padding: 1em;
          margin: 0;
          list-style: none;
          
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          
          -webkit-flex-flow: row wrap;
          justify-content: space-around;
        }

        .flex-item {
          /*background-color: #333;*/
          padding: 5px;
          width: 200px;
          height: 5em;
          margin-top: 10px;
        } 

        .link {
          font-family: Arial, Helvetica;
          color: white;
          font-weight: bold;
          font-size: 3em;
          text-align: center;
          li {
            margin: auto 0;
          }
      }

    /* ==== FEATURES ==== */

    .border { border: 2px solid #ddd;}

    /* Basically an iframe wrapper */
    .feature{ 
        margin: 5% auto;
        display:inline-block;
    }

    .x-scrolling{
        overflow-y: hidden;
        overflow-x: scrolling; 
    }
    .y-scrolling{
        overflow-x: hidden;
        overflow-y: scrolling; 
    }

    .scrolling{
        overflow: hidden;
    }

    #dining { /* 1300 wide by 500 tall */
        border: 0px none;
        margin-left: -7px;
        height: 1200px;
        margin-top: -520px;
        width:1200px;

        /* Shrink to fit container */ 
       zoom:0.85;
        -webkit-transform:scale(0.85);
        -webkit-transform-origin: 0 0;
    }

    #bus { 
        border: 0px none;  
        width:600px;
        height: 1000px;
        margin-left:-30px;
        margin-top: -150px;
    }

    #bus-legend {
        border: 0px none;  
        width:1000px;
        margin-left: -705px;
        height: 800px;
        margin-top: -130px;
    } 

    #maps {
        display:block;
        border: 0px none;  
        width:900px; 
        height: 900px; 
    }
            
  

    /* ==== COLORS & STYLING ==== */


        html{
          /*background-color:white;*/
          font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
          background: url(../img/sallyport-background.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; 
        }

        #main-nav {
            background: #ccc; 
        }

        #main-nav  a {  
            text-transform: uppercase;
            text-decoration: none; 
            font-family: sans-serif;
            font-weight: bold;
            color: #666;

        }

       #main-nav a:hover{
            color: #333;
       }

        #main-nav {
            /*background-color: purple; /* for testing */
        }
        
        #static-links{
            background: #aaa; 
        }  

        .flex-item a:hover {
            color: black;
        
        }
  
        #weather-container{
            background: #2e2e2e;
            padding-bottom:1em;
            margin:30px 30px 0px 0px;
        }    
 
        /* FONT SIZING */ 
        h1, h2 {
            font-weight: normal;
            font: 2em;
            margin: 1em 0 1em 0;
        }
        h2 {
            font-size: 1.5em;
        }
        p {
            margin: 0 0 1em 0;
        }

        .flex-item{
            font-size: 1em; 
        } 
 

    /* ==== MISC. ELEMENTS ==== */

    /* Navbar */  
    #main-nav li{
        display: inline; 
        list-style-type: none;
        padding: 2em;
    }

     
    /* Circle Title */
    .page-title {
        display: absolute;
        top:30%;
    }


    .page-title h1, .page-title h2, .page-title h3{
        margin:0px;
        text-align:center;
    }

    .page-title h1{ 
        font: bold 56px 'Arial Narrow', Arial, sans-serif;
        padding-bottom:10px;
    }
    .page-title h2{ 
        /*signpainter, housescript, 56, 60*/
        font: 56px 'SignPainter';
        padding-top:140px;
    }
    .page-title h3{ 
        /*helvetica neue, thin,  26, 32*/
        font: 24px 'Helvetica Neue', Arial, sans-serif;
        font-weight:300;

    }

    .page-title hr { border-top: 1px solid #333; width: 200px; } 

    #circle {
        /* size */ 
        width: 450px;
        height: 450px;
        -moz-border-radius: 220px;
        -webkit-border-radius: 220px;
        border-radius: 220px;

        /* positioning */
        position:absolute;
        top:50%;
        left:50%;
        margin-left: -200px;
        margin-top: -200px; 

        /* styling */
        opacity: 0.9;
        background: white;
    }

    #circle-container {
        position: relative;
        display: block;
        height:650px;
        margin-left:-50px;
    } 


    /* ------ Weather Plugin ------ */
    #weather {
      /*width: 425px;*/
      margin: 0px auto;
      text-align: center;
      text-transform: uppercase;
    }

    #weather h2 {
      margin: 0 0 8px;
      color: #fff;
      font-size: 5em;
      font-weight: 300;
      text-align: center;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    }

    #weather ul {
      margin: 0;
      padding: 0;
    }

    #weather li {
      color:white;
      /*background: #fff;
      background: rgba(255,255,255,0.90);
      padding: 10px 20px;*/
      margin:10px 0px;
      display: inline-block;
      /*border-radius: 5px;*/
    }

    #weather .currently {
      margin: 0 20px;
    }
 
 
/* ......................... */
